<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h5 id="head5">studly</h5>
    <a class="navbar-brand" href="#">Home</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">success</a>
        </li><li class="nav-item">
          <a class="nav-link active">about</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="btt1">
          <button id="stat2" type="submit">sign up</button>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="left-align">
    <img id="img1" src="https://www.kindpng.com/picc/m/20-208025_student-png-boy-in-college-transparent-png.png"
      alt="Student Png - Boy In College, Transparent Png@kindpng.com">
  </div>
  <div class="right-align">
    <div class="head1">
      <h1>Add your knowledge<br> wherever and whenever</h1>
    </div>
    <div>
      <p class="para1">add your knowledge and insights where ever it is with us<br>provides relaxing and not boring
        learning</p>
    </div>
    <div class="search">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="find course.." aria-label="Search">
          <div id="btt">
            <button id="stat3" class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="end">
    <img id="img2"
      src="https://www.kindpng.com/picc/m/117-1176779_indian-college-student-png-png-download-indian-college.png"
      alt="Indian College Student Png , Png Download - Indian College Student Png, Transparent Png@kindpng.com">
  </div>
</div>
<div class="container2">
  <div class="amount1">
    <h4> 50K+</h4>
    <div class="text">student joined</div>
  </div>
  <div class="amount2">
    <h4>630+</h4>
    <div class="text">Best online course</div>

  </div>
  <div class="amount3">
    <h4> 220+</h4>
    <div class="text">Brand companies</div>
  </div>
  <div class="amount4">
    <h4>75+</h4>
    <div class="text">Experinced Teachers</div>
  </div>
</div><div class="ha1">
  <h6> our Services</h6>
</div>
<div class="ha2">
  <h3>Creating a fun and not</h3>
</div>
<div class="ha3">
  <h3>boring learning atmosphere</h3>
</div>
<div class="box1">
  <div class="font1">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </div>
  <h4 class="box-head1">Design</h4>
  <p class="paragraph1"> Design classes that learn about the<br>latest design world</p>
  <h5 class="learn">Learn More ></h5>
</div>
<div class="box2">
  <div class="font5"><i id="fan2" class="fa fa-code" aria-hidden="true"></i>
  </div>
  <h4 class="box-head2">Development</h4>
  <p class="paragraph2"> Development classes that learn about <br>the latest development world</p>
  <h5 class="learn1">Learn More ></h5>
</div>
<div class="box3">
  <div class="font3"><i class="fa fa-eercast" aria-hidden="true"></i>
  </div>
  <h4 class="box-head3">Marketing</h4>
  <p class="paragraph3"> Marketing classes that learn about <br>the latest marketing world</p>
  <h5 class="learn2">Learn More ></h5>
</div>
<div class="container4">
  <div class="conte1">
      <div class="line2">
          <h5><button class="ao1">01</button>
              <div class="ao2"> Class introduction </div>
              <div class="ao3">04:30</div>
          </h5>
      </div>
      <div class="line3">
          <h5><button class="ao1">02</button>
              <div class="ao2"> Wireframe creation</div>
              <div class="ao3">08:45</div>
          </h5>
      </div>
      <div class="line4">
          <h5><button class="ao1">03</button>
              <div class="ao2"> Hi-Fi <section></section>
              </div>
              <div class="ao3">10:15</div>
          </h5>
      </div>
      <div class="line5">
          <h5><button class="ao1">04</button>
              <div class="ao2"> Prototyping </div>
              <div class="ao3">08:00</div>
          </h5>
      </div>
  </div>
  <div class="conte2">
      <div class="right1">
          <h2>Provide incoherent <br> and clear material</h2>
      </div>
      <div class="right2">
          <p> we provides vedio-based classes with consecutive <br>materials and ensure that students will understand
          </p>
      </div>
      <div class="right3"><button id="stat">Join Now</button></div>
  </div>
</div>
<div class="container5">
  <div class="hea1">
    <h3>Most popular course</h3>
  </div>
  <div class="hea2">
    <h5><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">All
        category </a></h5>
  </div>
  <div class="container6">
    <div id="kk1" >.</div>
    <div class="boxx4">
      <h5><button class="ao1">
        </button>
      </h5>
    </div>
  </div>
  <div class="box-img1">
    <div class="pic1">
      <img class="pic1" src="./../../assets/christopher-gower-m_HRfLhgABo-unsplash.jpg">
    </div>
    <h4 id="log1"> Logo Branding</h4>
    <div class="icon1"><button class="ab"> <i id="aa1" class="fa fa-pencil" aria-hidden="true"></i></button></div>
    <div class="loge1">
      <h6>Graphic Design</h6>
    </div>
    <div class="dot">
      <h6>. </h6>
    </div>
    <div class="loge2">
      <h6><i class="fa-regular fa-star"></i></h6>
    </div>
    <div class="loge3">
      <h6>4.9K</h6>
    </div>
    <div class="dol">
      <h6>$ 21,00</h6>
    </div>
    <div class="star">
      <h6>*</h6>
    </div>
    <div class="star1">
      <h6>4.9</h6>
    </div>
  </div>

  <div class="box-imgg2">
    <div class="pic1">
      <img class="pic1" src="./../../assets/burst-kUqqaRjJuw0-unsplash.jpg">
    </div>
    <h4 id="log2"> HTML & CSS</h4>
    <div class="icon1"><button class="ab">
        <div class="font2">
          <h6><i id="aa3" class="fa fa-code" aria-hidden="true"></i></h6>
        </div>
      </button></div>
    <div class="loge1">
      <h6>Development</h6>
    </div>
    <div class="dot">
      <h6>.</h6>
    </div>
    <div class="loge4">
      <h6>4.3K</h6>
    </div>
    <div class="loge5">
      <h6><i class="fa-regular fa-address-book"></i></h6>
    </div>
    <div class="dol">
      <h6>$ 25,00</h6>
    </div>
    <div class="star">
      <h6>*</h6>
    </div>
    <div class="star1">
      <h6>4.9</h6>
    </div>
  </div>

  <div class="box-imgg3">
    <div class="pic1">
      <img class="pic1" src="./../../assets/scott-graham-5fNmWej4tAA-unsplash.jpg">
    </div>
    <h4 id="log3">Business marketing</h4>
    <div class="icon1"><button class="ab"><i id="aa2" class="fa fa-eercast" aria-hidden="true"></i></button></div>
    <div class="loge1">
      <h6>Development</h6>
    </div>
    <div class="dot">
      <h6>.</h6>
    </div>
    <div class="loge4">
      <h6>2.8K</h6>
    </div>
    <div class="loge5">
      <h6><i class="fa-duotone fa-address-book"></i></h6>
    </div>
    <div class="emp"></div>
    <div class="dol">
      <h6>$ 17,00</h6>
    </div>
    <div class="star">
      <h6>*</h6>
    </div>
    <div class="star1">
      <h6>4.3</h6>
    </div>
  </div>
  <div class="container7">
    <div class="the1">
      <div class="aa1">
        <h2>What's our<br>Student Studly Said</h2>
      </div>
      <div class="aa2"><button id="aa3">
          <h1 class="ee1">,,</h1>
        </button></div>
      <div class="aa4">
        <P>the learning system is very exciting.the <br>vedios are easy to understand and thanks<br> to my study hear now
          l have worked in a<br> well-know company </P>
      </div>
      <div class="aa5">
        <h6> jessica Erlin</h6>
      </div>
    </div>
    <div class="the2">
      <div class="ima1"> <img class="pac1" src="./../../assets/166568-student-free-transparent-image-hq.png"></div>
    </div>
    <div class="ima2"> <img class="pac2" src="./../../assets/PngItem_1517103.png"></div>
    <div class="ima3"> <img class="pac3"
        src="https://www.kindpng.com/picc/m/117-1176779_indian-college-student-png-png-download-indian-college.png"
        alt="Indian College Student Png , Png Download - Indian College Student Png, Transparent Png@kindpng.com"></div>
    <div class="ima4"> <img class="pac4"
        src="https://www.kindpng.com/picc/m/20-208025_student-png-boy-in-college-transparent-png.png"
        alt="Student Png - Boy In College, Transparent Png@kindpng.com"></div>
  
  </div>
  <div class="footer">
    <div>.</div>
    <div class="haa">
        <h3>Studly</h3>
    </div>
    <div class="doot">
        <h1>.</h1>
    </div>
    <div class="ppa">
        <p>Lorem ipsum dolor sit amet.<br> consectetur ipsicing elit.pretium</p>
    </div>
    <div class="ppa2">
        <h2><i class="fb" class="fa fa-facebook-official" aria-hidden="true"></i></h2>
    </div>
    <div class="ppa3">
        <h2><i class="fb" class="fa fa-instagram" aria-hidden="true"></i></h2>

    </div>
    <div class="ppa4">
        <h2><i class="fb" class="fa fa-twitter-square" aria-hidden="true"></i></h2>
    </div>
    <div class="footer2">
        <div class="hmm1">
            <h3>Course</h3>
        </div><br>
        <ul>
            <ol></ol>
            <ol></ol>
            <ol>UI/UX Design</ol><br>
            <ol>Graphic Design</ol>
            <ol></ol><br>
            <ol>Web Development</ol><br>
            <ol>Mobile Development</ol><br>
            <ol>Business Marketing</ol>

        </ul>
    </div>
    <div class="footer3">
        <div class="hmm1">
            <h3>Resources</h3>
        </div><br>
        <ul>
            <ol></ol>
            <ol></ol>
            <ol>Help Center</ol><br>
            <ol>Partners</ol>
            <ol></ol><br>
            <ol>Newsletter</ol><br>
            <ol>Blog</ol><br>
            <ol>Testimonials</ol>

        </ul>
    </div>
    <div class="footer4">
        <div class="hmm1">
            <h3>company</h3>
        </div><br>
        <ul>
            <ol></ol>
            <ol></ol>
            <ol>About Us</ol><br>
            <ol>Careers</ol>
            <ol></ol><br>
            <ol>Contact</ol><br>
            <ol>Privacy</ol><br>
            <ol>FAQ</ol>

        </ul>
    </div>
</div>